@import url(variables.css);

* {
    font-size: 1em;
    color: var(--light-grey);
    font-weight: 200;

}

.form-choice {
    max-width: 60%;
    margin: 30px auto;
    padding: 20px;
    border: 5px solid var(--color-line);
    border-radius: 10px;
}

.form-choice .logo-time {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.form-choice .logo-time img {
    width: 30px;
    margin-right: 10px;
}

.form-choice .question {
    padding: 10px;
    font-size: 1.8em;
    border-bottom: 2px solid var(--color-line);
}

.form-choice .time {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-line);
}

.form-choice .checkbox-check {
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.form-choice .checkbox-check .results span{
    font-weight: bold;
    font-size: 1.8em;
}

.form-timetable .btn-group {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.form-timetable .btn-group .btn {
    font-size: 18px;
    border-radius: 4px;
    color: var(--dark-grey);
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    width: 80%;
    border: none;
    cursor: pointer;
}

.form-timetable .btn-group .btn-search {
    background-color: var(--yellow);
    width: 100%;
}

.form-timetable .btn-group .btn-clear {
    background-color: transparent;
    border: 1px solid var(--text-light);
    width: 100%;
}
