@media (min-width: 750px){
        /* Header */
    .logo {
        width: 100%;
        background-color: var(--black);
        height: 15vh;
        display: grid;
        place-items: center;
    }
    .description-paragraph-text p {
        font-size: 1.05em;
    }
    /* Formulário */
    .checkbox-check{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .form-timetable .btn-group {
        flex-direction: row;
    }
    
    .form-timetable .btn-group .btn {
        width: 25%;
    }

    

} 